[submodule "vendor/webview"]
	path = vendor/webview
	url = https://github.com/webview/webview.git
[submodule "vendor/cmark-gfm"]
	path = vendor/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON.git
